<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DO•SI•RAK</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link href="assets/img/favicon.png" rel="shortcut icon" type="../image/vnd.microsoft.icon">
	<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<% include ingredients %>

		<% include order %>
	</div>

	<script src="js/dosirak.js"></script>
</body>
</html>
