
<div class="col-md-4" id="output">
  <a href="http://www.dosirak.com.sg" target="_blank"><image src="assets/img/logo.png" id="logo"></image></a>
  <div id="choices">
    <h2>Base</h2>
    <div class="choicediv">
      <ul id="base"></ul>
    </div>
    <h2>Sides</h2>
    <div class="choicediv">
      <ul id="sides"></ul>
    </div>
    <h2>Mains</h2>
    <div class="choicediv">
      <ul id="mains"></ul>
    </div>
  </div>
  <div id="calories">
    <h2>Your calorie count is:</h2>
    <h1 id="calcount">0</h1><h1>&nbsp;cal</h1>
  </div>
</div>
